<ion-view title="Welcome" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ghMiN3MpSWebqbClVQ75_bigen_brandmark_transp.jpg.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="bigenSubmitDates()" id="welcome-button15" class="button button-positive button-block">Bigen Employees</a>
    <a ui-sref="nonEmployeesReservation()" id="welcome-button24" class="button button-positive button-block">Make a Reservation</a>
  </ion-content>
</ion-view>